In [1]:
import hail as hl
import pandas as pd
import numpy as np
from utils import get_body_surface_area

In [2]:
# sampddd
SAMPLE_QC_FILE = "/mnt/i/UKB_DATA/imputed_UKB/qc.tsv"
SAMPLE_QC_TABLE = '/mnt/i/UKB_DATA/imputed_UKB/qc.kt' 
df = hl.import_table(SAMPLE_QC_FILE)
df = df.annotate(PC1 = hl.float64(df['PC1']),
                 PC2 = hl.float64(df['PC2']),
                 PC3 = hl.float64(df['PC3']),
                 PC4 = hl.float64(df['PC4']),
                 PC5 = hl.float64(df['PC5']),
                 PC6 = hl.float64(df['PC6']),
                 PC7 = hl.float64(df['PC7']),
                 PC8 = hl.float64(df['PC8']),
                 PC9 = hl.float64(df['PC9']),
                 PC10 = hl.float64(df['PC10']),
                 eid = df['eid'],
                 in_white_British_ancestry_subset = df['ethnicity'] == "1",
                 used_in_pca_calculation = df['used.in.pca.calculation'] == "1",
                 no_excess_relatives = df['excess.relatives']=="0",
                 putative_sex_chromosome_aneuploidy = df['putative.sex.chromosome.aneuploidy']=="1",
                 isFemale = df['Inferred.Gender'] == '0')

#df = df.key_by('sample')
df = df.filter(df.eid!= "-1")
df = df.filter(df.eid!= "-2")
df = df.filter(df.eid!= "-3")
#df = df.filter(df.in_white_British_ancestry_subset==True)
#df = df.filter(df.putative_sex_chromosome_aneuploidy==True)
#df = df.filter(df.used_in_pca_calculation==True)
#df = df.filter(df.excess_relatives==False)

Initializing Hail with default parameters...

2022-03-14 09:58:40 WARN  Utils:69 - Your hostname, DESKTOP-TVGJHK2 resolves to a loopback address: 127.0.1.1; using 172.27.144.1 instead (on interface eth1)
2022-03-14 09:58:40 WARN  Utils:69 - Set SPARK_LOCAL_IP if you need to bind to another address

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/remote/.local/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

2022-03-14 09:58:41 WARN  NativeCodeLoader:60 - Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

2022-03-14 09:58:41 WARN  Hail:43 - This Hail JAR was compiled for Spark 3.1.1, running with Spark 3.1.2.
  Compatibility is not guaranteed.

Running on Apache Spark version 3.1.2
SparkUI available at http://172.27.144.1:4040
Welcome to
     __  __     <>__
    / /_/ /__  __/ /
   / __  / _ `/ / /
  /_/ /_/\_,_/_/_/   version 0.2.78-0d33f03a1908
LOGGING: writing to /mnt/d/UKB/hail-20220314-0958-0.2.78-0d33f03a1908.log
2022-03-14 09:58:43 Hail: INFO: Loading 62 fields. Counts by type:
  str: 62

In [3]:
df.count()

502461

In [4]:
df=df.filter(df.no_excess_relatives==True)

In [5]:
df=df.filter(df.in_white_British_ancestry_subset==True)

In [6]:
df.count()

276705

In [7]:
df=df.select('eid')

In [8]:
df.to_pandas()

            eid
0       1000029
1       1000031
2       1000047
3       1000073
4       1000085
...         ...
276700  6024836
276701  6024845
276702  6024887
276703  6024893
276704  6024902

[276705 rows x 1 columns]

In [9]:
df=_

In [10]:
df['eid']=df['eid'].astype('float')

In [11]:
imaging=pd.read_csv("/mnt/i/UKB_DATA/tsv_pheno/si_final.tsv",sep='\t')

In [12]:
imaging.merge(df,left_on='idx',right_on='eid')

       Unnamed: 0      idx     pheno        eid
0               1  1000158  0.512526  1000158.0
1               2  1000243  0.582123  1000243.0
2               3  1000262  0.642401  1000262.0
3               5  1000489  0.535714  1000489.0
4               8  1000563  0.534140  1000563.0
...           ...      ...       ...        ...
22585       45505  6024009  0.541387  6024009.0
22586       45506  6024127  0.584615  6024127.0
22587       45507  6024225  0.642857  6024225.0
22588       45510  6024624  0.504608  6024624.0
22589       45512  6024797  0.573333  6024797.0

[22590 rows x 4 columns]

In [17]:
exclude = df.to_pandas()

FatalError: IllegalStateException: Cannot call methods on a stopped SparkContext.
This stopped SparkContext was created at:

org.apache.spark.SparkContext.<init>(SparkContext.scala:85)
is.hail.backend.spark.SparkBackend$.configureAndCreateSparkContext(SparkBackend.scala:146)
is.hail.backend.spark.SparkBackend$.apply(SparkBackend.scala:222)
is.hail.backend.spark.SparkBackend.apply(SparkBackend.scala)
java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
java.base/java.lang.reflect.Method.invoke(Method.java:566)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:282)
py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
py4j.commands.CallCommand.execute(CallCommand.java:79)
py4j.GatewayConnection.run(GatewayConnection.java:238)
java.base/java.lang.Thread.run(Thread.java:834)

The currently active SparkContext was created at:

(No active SparkContext.)


Java stack trace:
java.lang.IllegalStateException: Cannot call methods on a stopped SparkContext.
This stopped SparkContext was created at:

org.apache.spark.SparkContext.<init>(SparkContext.scala:85)
is.hail.backend.spark.SparkBackend$.configureAndCreateSparkContext(SparkBackend.scala:146)
is.hail.backend.spark.SparkBackend$.apply(SparkBackend.scala:222)
is.hail.backend.spark.SparkBackend.apply(SparkBackend.scala)
java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
java.base/java.lang.reflect.Method.invoke(Method.java:566)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:282)
py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
py4j.commands.CallCommand.execute(CallCommand.java:79)
py4j.GatewayConnection.run(GatewayConnection.java:238)
java.base/java.lang.Thread.run(Thread.java:834)

The currently active SparkContext was created at:

(No active SparkContext.)

	at org.apache.spark.SparkContext.assertNotStopped(SparkContext.scala:118)
	at org.apache.spark.SparkContext.broadcast(SparkContext.scala:1506)
	at is.hail.backend.spark.SparkBackend.broadcast(SparkBackend.scala:278)
	at is.hail.expr.ir.EmitClassBuilder.resultWithIndex(EmitClassBuilder.scala:633)
	at is.hail.expr.ir.WrappedEmitClassBuilder.resultWithIndex(EmitClassBuilder.scala:154)
	at is.hail.expr.ir.WrappedEmitClassBuilder.resultWithIndex$(EmitClassBuilder.scala:154)
	at is.hail.expr.ir.EmitFunctionBuilder.resultWithIndex(EmitClassBuilder.scala:1051)
	at is.hail.expr.ir.Compile$.apply(Compile.scala:79)
	at is.hail.expr.ir.TableMapRows.execute(TableIR.scala:2005)
	at is.hail.expr.ir.TableFilter.execute(TableIR.scala:1425)
	at is.hail.expr.ir.TableOrderBy.execute(TableIR.scala:2800)
	at is.hail.expr.ir.TableIR.analyzeAndExecute(TableIR.scala:57)
	at is.hail.expr.ir.Interpret$.apply(Interpret.scala:27)
	at is.hail.expr.ir.Interpret$.apply(Interpret.scala:23)
	at is.hail.backend.spark.SparkBackend.$anonfun$pyToDF$2(SparkBackend.scala:511)
	at is.hail.backend.ExecuteContext$.$anonfun$scoped$3(ExecuteContext.scala:47)
	at is.hail.utils.package$.using(package.scala:638)
	at is.hail.backend.ExecuteContext$.$anonfun$scoped$2(ExecuteContext.scala:47)
	at is.hail.utils.package$.using(package.scala:638)
	at is.hail.annotations.RegionPool$.scoped(RegionPool.scala:17)
	at is.hail.backend.ExecuteContext$.scoped(ExecuteContext.scala:46)
	at is.hail.backend.spark.SparkBackend.withExecuteContext(SparkBackend.scala:275)
	at is.hail.backend.spark.SparkBackend.$anonfun$pyToDF$1(SparkBackend.scala:510)
	at is.hail.utils.ExecutionTimer$.time(ExecutionTimer.scala:52)
	at is.hail.utils.ExecutionTimer$.logTime(ExecutionTimer.scala:59)
	at is.hail.backend.spark.SparkBackend.pyToDF(SparkBackend.scala:509)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:834)



Hail version: 0.2.78-0d33f03a1908
Error summary: IllegalStateException: Cannot call methods on a stopped SparkContext.
This stopped SparkContext was created at:

org.apache.spark.SparkContext.<init>(SparkContext.scala:85)
is.hail.backend.spark.SparkBackend$.configureAndCreateSparkContext(SparkBackend.scala:146)
is.hail.backend.spark.SparkBackend$.apply(SparkBackend.scala:222)
is.hail.backend.spark.SparkBackend.apply(SparkBackend.scala)
java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
java.base/java.lang.reflect.Method.invoke(Method.java:566)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:282)
py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
py4j.commands.CallCommand.execute(CallCommand.java:79)
py4j.GatewayConnection.run(GatewayConnection.java:238)
java.base/java.lang.Thread.run(Thread.java:834)

The currently active SparkContext was created at:

(No active SparkContext.)

2022-02-14 11:22:53 Hail: INFO: Loading 62 fields. Counts by type:
  str: 62
2022-02-14 11:24:57 Hail: INFO: Loading 62 fields. Counts by type:
  str: 62
2022-02-14 11:27:24 Hail: INFO: Loading 62 fields. Counts by type:
  str: 62
2022-02-14 11:28:44 Hail: INFO: Loading 62 fields. Counts by type:
  str: 62
2022-02-14 11:34:28 Hail: INFO: Loading 62 fields. Counts by type:
  str: 62
2022-02-14 11:37:51 Hail: INFO: Loading 62 fields. Counts by type:
  str: 62

In [ ]:
main = pd.read_csv("/mnt/i/UKB_DATA/normal/hw/hw_normal.tsv", sep='\t')

In [ ]:
len(np.intersect1d( np.array(exclude['eid'],dtype='str'), np.array(main['idx'],dtype='str')))

In [4]:
ex_pipeline = hl.read_table("/mnt/i/UKB_DATA/pipelines/sphericity_index.kt")

In [5]:
ex_pipeline.show(10)

+-----------+------------+----------+----------+-----------+-----------+
| idx       | Unnamed: 0 |    pheno | isFemale |       PC1 |       PC2 |
+-----------+------------+----------+----------+-----------+-----------+
| str       |      int32 |  float64 |     bool |   float64 |   float64 |
+-----------+------------+----------+----------+-----------+-----------+
| "1000012" |          0 | 5.55e-01 |     True | -1.39e+01 |  4.79e+00 |
| "1000158" |          1 | 5.00e-01 |    False | -1.16e+01 |  2.74e+00 |
| "1000262" |          2 | 6.23e-01 |     True | -1.46e+01 |  5.00e+00 |
| "1000369" |          3 | 6.04e-01 |     True |  1.22e+01 | -6.22e+00 |
| "1000489" |          4 | 5.55e-01 |    False | -1.13e+01 |  4.54e+00 |
| "1000563" |          6 | 5.41e-01 |     True | -1.36e+01 |  3.44e+00 |
| "1001100" |          7 | 5.87e-01 |    False | -1.48e+01 |  3.15e+00 |
| "1001483" |         10 | 5.96e-01 |     True | -1.20e+01 |  2.12e+00 |
| "1001525" |         11 | 5.48e-01 |    False | -1.28e+01 |  5.11e+00 |
| "1001614" |         12 | 5.94e-01 |    False | -1.32e+01 |  2.34e+00 |
+-----------+------------+----------+----------+-----------+-----------+

+-----------+-----------+-----------+-----------+-----------+-----------+
|       PC3 |       PC4 |       PC5 |       PC6 |       PC7 |       PC8 |
+-----------+-----------+-----------+-----------+-----------+-----------+
|   float64 |   float64 |   float64 |   float64 |   float64 |   float64 |
+-----------+-----------+-----------+-----------+-----------+-----------+
| -1.27e+00 |  6.73e+00 |  2.59e+01 | -1.37e+00 |  1.64e+00 |  2.89e+00 |
| -1.26e+00 |  1.58e+00 | -7.08e+00 | -3.52e+00 |  9.70e-01 | -3.36e+00 |
| -1.88e+00 |  4.13e+00 | -5.70e-01 |  5.44e-01 | -1.30e+00 |  1.67e+00 |
|  2.30e+01 | -5.39e+01 |  5.37e+00 |  1.50e+00 |  2.51e+01 |  1.59e+01 |
| -3.70e+00 |  2.77e+00 | -8.50e+00 | -1.19e+00 | -1.90e-01 | -1.82e+00 |
| -1.51e+00 |  2.02e+00 |  5.62e+00 | -3.65e+00 |  2.92e+00 | -8.56e-01 |
|  4.44e-01 |  7.26e+00 |  2.12e+01 | -2.20e+00 | -1.57e+00 |  2.67e+00 |
|  8.19e-01 | -2.85e+00 | -2.84e+00 | -9.71e-01 | -5.87e-01 |  3.71e+00 |
| -1.49e+00 |  4.08e+00 |  9.27e+00 |  2.14e+00 | -8.49e-02 |  2.08e-01 |
|  2.18e-02 |  3.12e+00 | -1.06e+00 | -3.26e-01 |  3.17e-01 | -8.28e-01 |
+-----------+-----------+-----------+-----------+-----------+-----------+

+-----------+-----------+
|       PC9 |      PC10 |
+-----------+-----------+
|   float64 |   float64 |
+-----------+-----------+
|  1.03e+00 | -2.18e-01 |
|  1.05e+00 |  1.33e+00 |
| -4.42e+00 |  1.21e+00 |
| -2.14e-01 | -6.11e+00 |
|  8.88e+00 |  5.65e+00 |
| -2.60e+01 |  4.15e+00 |
| -1.02e+00 | -5.83e-01 |
|  1.38e-01 | -1.85e+00 |
|  2.99e+00 | -6.30e-01 |
|  5.16e+00 | -2.01e+00 |
+-----------+-----------+
showing top 10 rows

In [6]:
ex_pipeline.count()

20982

In [19]:
df = pd.read_csv("I:/UKB_DATA/tsv_pheno/lv_esv.tsv",sep='\t')

In [20]:
df2 = pd.read_csv("I:/UKB_DATA/main_df/BMI.csv")

In [21]:
df=df.merge(df2,left_on='idx',right_on='eid')

In [22]:
df = df.rename(columns={"21001-0.0":"BMI"})

In [23]:
df['pheno']=df['pheno']/df['BMI']

In [24]:
df[['idx','pheno']].to_csv("I:/UKB_DATA/tsv_pheno/lv_esv.tsv",sep='\t')

In [25]:
df

       Unnamed: 0_x      idx     pheno  Unnamed: 0_y      eid      BMI
0                 0  1000012  2.976425             0  1000012  22.8462
1                14  1000158  2.279412             1  1000158  27.2000
2                25  1000262  2.046021             2  1000262  27.3702
3                35  1000369  1.927366             3  1000369  21.7914
4                47  1000489  2.070551             4  1000489  23.6652
...             ...      ...       ...           ...      ...      ...
31708        502428  6024290  3.582109         31708  6024290  24.8457
31709        502431  6024323  0.971726         31709  6024323  28.8147
31710        502461  6024624  2.629541         31710  6024624  20.9162
31711        502462  6024638  2.512299         31711  6024638  31.4453
31712        502478  6024797  2.927872         31712  6024797  23.5666

[31713 rows x 6 columns]

In [3]:
qc = pd.read_csv("I:/UKB_DATA/main_df/ukb47972.csv")

In [6]:
np.sum(qc['22021-0.0'])

148404.0

In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("I:/UKB_DATA/main_df/ukb45494.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (7,12,39,40,42,43,44,45,46,198,200,220,222,224,226,228,230,232,234,236,366,367,2409,2412,2422,2425,2435,2438,2448,2451,2461,2464,2474,2477,2487,2490,2500,2503,2513,2516,2525,2526,2528,2529,2539,2542,2551,2552,2554,2555,2565,2568,2578,2581,2591,2594,2604,2607,2617,2620,2629,2630,2632,2633,2643,2646,2656,2659,2669,2672,2682,2685,2695,2698,2707,2708,2710,2711,2721,2724,2734,2737,2747,2750,2759,2760,2762,2763,2772,2773,2775,2776,2785,2786,2788,2789,2798,2799,2801,2802,2813,2820,2827,2828,2835,2836,3050,3258) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
imaging=pd.read_csv("I:/UKB_DATA/tsv_pheno/si_final.tsv",sep='\t')

In [4]:
df1=df1.merge(imaging,left_on='eid',right_on='idx')

In [ ]:
df1.to_csv("I:/UKB_DATA/main_df/si_ukb45494.csv")

In [2]:
pd.read_csv("I:/UKB_DATA/main_df/si_ukb45494.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (13,40,41,45,46,368,2828,2829,2836,2837,3258) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,eid,31-0.0,34-0.0,52-0.0,53-0.0,53-1.0,53-2.0,53-3.0,54-0.0,...,30895-1.0,30896-0.0,30896-1.0,30897-0.0,30897-1.0,40000-0.0,40000-1.0,Unnamed: 0.1,idx,pheno
0,0,1000158,1.0,1964.0,11.0,2009-06-30,NaN,2019-06-26,NaN,11010.0,...,NaN,1.0,NaN,0.984826,NaN,NaN,NaN,1,1000158,0.512526
1,1,1000243,1.0,1951.0,2.0,2010-06-05,NaN,2019-11-25,NaN,11014.0,...,NaN,1.0,NaN,1.005890,NaN,NaN,NaN,2,1000243,0.582123
2,2,1000262,0.0,1952.0,5.0,2010-06-22,NaN,2019-09-11,NaN,11018.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1000262,0.642401
3,3,1000369,0.0,1948.0,4.0,2008-05-22,NaN,2017-05-09,NaN,11008.0,...,NaN,1.0,NaN,0.999724,NaN,NaN,NaN,4,1000369,0.598390
4,4,1000489,1.0,1943.0,1.0,2009-06-27,NaN,2017-11-27,NaN,11010.0,...,NaN,1.0,NaN,0.998772,NaN,NaN,NaN,5,1000489,0.535714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39011,39011,6024127,0.0,1965.0,5.0,2009-09-30,NaN,2018-06-09,NaN,11017.0,...,NaN,1.0,NaN,1.002540,NaN,NaN,NaN,45506,6024127,0.584615
39012,39012,6024225,0.0,1946.0,8.0,2010-03-27,NaN,2018-10-05,NaN,11021.0,...,NaN,1.0,NaN,0.938476,NaN,NaN,NaN,45507,6024225,0.642857
39013,39013,6024290,1.0,1968.0,7.0,2009-10-30,NaN,2018-07-06,NaN,11017.0,...,NaN,1.0,NaN,1.000000,NaN,NaN,NaN,45508,6024290,0.532787
39014,39014,6024624,0.0,1963.0,7.0,2008-05-10,NaN,2018-07-22,NaN,11006.0,...,NaN,1.0,NaN,0.997265,NaN,NaN,NaN,45510,6024624,0.504608
39015,39015,6024797,1.0,1946.0,8.0,2009-04-08,2013-03-06,2018-03-23,NaN,11016.0,...,NaN,1.0,1.0,1.000030,0.996694,NaN,NaN,45512,6024797,0.573333

In [3]:
df2=pd.read_csv("I:/UKB_DATA/main_df/ukb47615.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (354,2831,2925,2927,2928,2929,2930,2931,2932,2933,2934,2935,2936,2937,2938,2939,2940,2941,2942,2943,2944,2945,2946,2947,2948,2949,2950,2957,2958,2959,2960,2961,2962,2963,2964,2965,2966,2967,2968,2969,2970,2971,2972,2974,2975,2976,2977,2978,2979,2980,2981,2982,2983,2984,2986,2988,2989,3010,3080,3082,3083,3084,3085,3086,3087,3088,3089,3090,3091,3092,3093,3094,3095,3096,3097,3099,3100,3113,3114,3115,3116,3117,3118,3119,3120,3121,3122,3123,3124,3125,3126,3127,3128,3129,3130,3131,3132,3133,3134,3135,3136,3137,3138,3139,3140,3141,3142,3143,3144,3145,3146,3147,3148,3149,3150,3151,3152,3153,3154,3156,3157,3158,3159,3160,3161,3162,3163,3164,3165,3166,3167,3168,3169,3170,3171,3172,3173,3174,3175,3176,3190,3191,3192,3193,3194,3195,3196,3197,3198,3199,3200,3201,3202,3203,3204,3205,3206,3207,3208,3209,3210,3211,3212,3213,3214,3215,3216,3217,3218,3219,3220,3221,3222,3223,3224,3225,3226,3227,3228,3229,3230,3231,3232,3233,3234,3235,3236,3237,3238,3239,3240,3241,3242,3243,3244,3245,3246,3247,3248,3249,3250,3251,3252,3253,3254,3255,3256,3257,3258,3259,3260,3261,3262,3263,3264,3265,3266,3267,3268,3269,3274,3308,3309,3310,3311,3312,3313,3314,3315,3316,3317,3318,3319,3320,3321,3322,3323,3324,3325,3326,3327,3328,3329,3330,3331,3332,3333,3334,3335,3336,3337,3338,3339,3340,3341,3342,3343,3344,3345,3346,3347,3348,3349,3350,3351,3352,3353,3354,3355,3356,3357,3358,3359,3360,3361,3362,3363,3364,3365,3366,3367,3368,3369,3370,3371,3372,3373,3374,3375,3376,3377,3378,3379,3380,3381,3382,3383,3384,3385,3386,3387,3388,3389,3390,3391,3392,3393,3394,3395,3396,3397,3398,3399,3400,3401,3402,3403,3404,3405,3406,3407,3408,3409,3410,3411,3412,3413,3414,3415,3416,3417,3418,3419,3420,3421,3422,3423,3424,3425,3426,3427,3428,3429,3430,3431,3432,3433,3434,3435,3436,3437,3438,3439,3440,3441,3442,3443,3444,3445,3446,3447,3448,3449,3450,3451,3452,3453,3454,3455,3456,3457,3458,3459,3460,3461,3462,3463,3464,3465,3466,3467,3468,3469,3470,3471,3472,3473,3474,3475,3476,3477,3478,3479,3480,3481,3482,3483,3484,3485,3486,3487,3488,3489,3492,3493,3501,3522,3523,3524,3525,3526,3527,3528,3529,3530,3531,3532,3533,3534,3535,3536,3537,3538,3539,3540,3543,3544,3545,3546,3547,3548,3549,3568,3569,3570,3571,3572,3573,3574,3575,3576,3577,3578,3579,3580,3581,3582,3583,3584,3585,3586,3587,3588,3589,3590,3591,3592,3593,3594,3595,3596,3597,3598,3599,3600,3601,3602,3603,3604,3605,3606,3607,3608,3609,3610,3611,3612,3613,3614,3615,3616,3617,3618,3619,3620,3621,3622,3623,3624,3625,3626,3627,3628,3629,3630,3631,3632,3633,3634,3635,3636,3637,3638,3639,3640,3641,3642,3643,3644,3645,3646,3647,3648,3649,3650,3651,3652,3653,3654,3655,3656,3657,3658,3659,3660,3661,3662,3663,3664,3665,3666,3667,3668,3704,3705,3706,3707,3708,3738,3739,3740,3741,3742,3745,3746,3747,3748,3749,3750,3759,3760,3761,3762,3763,3764,3765,3766,3767,3768,3769,3770,3891,3892,3893,3894,3895,3896,3897,3898,3899,3900,3901,3902,3903,3920,3921,3922,3923,3924,3925,3926,3927,3928,3929,3930,3931,3932,3933,3934,3935,3936,3937,3938,3939,3940,3941,3942,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952,3953,3954,3955,3956,3957,3958,3959,3960,3961,3975,3976,3977,3978,3979,3980,3981,3982,3983,3984,3985,3986,3987,3988,3989,3990,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000,4001,4002,4003,4004,4005,4006,4007,4008,4009,4010,4011,4012,4013,4014,4015,4016,4017,4018,4019,4020,4021,4022,4023,4024,4025,4026,4027,4028,4029,4030,4031,4032,4033,4034,4035,4036,4037,4038,4039,4040,4041,4042,4043,4044,4045,4046,4047,4048,4049,4050,4051,4052,4053,4054,4055,4056,4057,4058,4059,4060,4061,4062,4063,4064,4105,4106,4107,4108,4109,4110,4111,4112,4113,4114,4115,4116,4117,4118,4119,4120,4121,4122,4123,4124,4125,4126,4127,4128,4129,4130,4131,4132,4133,4134,4135,4136,4137,4138,4139,4140,4141,4142,4143,4144,4145,4146,4147,4148,4149,4150,4151,4152,4153,4154,4155,4156,4157,4158,4159,4160,4161,4162,4163,4164,4165,4166,4167,4168,4169,4170,4171,4172,4173,4174,4175,4176,4177,4178,4179,4180,4181,4182,4183,4184,4185,4186,4187,4188,4189,4190,4191,4192,4193,4194,4195,4196,4197,4198,4199,4200,4201,4202,4203,4204,4205,4206,4207,4208,4209,4210,4211,4212,4213,4214,4215,4216,4217,4218,4219,4220,4221,4222,4223,4224,4225,4226,4227,4228,4229,4230,4231,4232,4233,4234,4235,4236,4237,4238,4239,4240,4241,4242,4243,4244,4245,4246,4247,4248,4249,4250,4251,4252,4253,4254,4255,4256,4257,4258,4259,4260,4261,4262,4263,4264,4265,4266,4267,4268,4269,4270,4271,4272,4273,4274,4275,4276,4277,4278,4279,4280,4281,4282,4283,4284,4285,4286,4287,4288,4289,4290,4291,4292,4293,4294,4295,4296,4297,4298,4299,4300,4301,4302,4303,4304,4305,4306,4307,4308,4309,4310,4311,4312,4313,4314,4315,4316,4317,4318,4319,4320,4321,4322,4323,4324,4329,4330,4331,4332,4333,4334,4363,4364,4365,4366,4367,4368,4369,4370,4371,4372,4373,4374,4375,4376,4377,4378,4379,4380,4381,4382,4383,4384,4385,4386,4387,4388,4389,4390,4391,4392,4393,4394,4395,4396,4397,4398,4399,4400,4401,4402,4403,4404,4405,4406,4407,4408,4409,4410,4411,4412,4413,4414,4415,4416,4417,4418,4419,4420,4421,4422,4423,4424,4425,4426,4427,4428,4429,4430,4431,4432,4433,4434,4435,4436,4437,4438,4439,4440,4441,4442,4443,4444,4445,4446,4447,4448,4449,4450,4451,4452,4453,4454,4455,4456,4457,4458,4515,4516,4517,4518,4519,4520,4521,4522,4523,4524,4525,4526,4527,4528,4529,4530,4531,4532,4533,4534,4535,4536,4537,4538,4539,4540,4541,4542,4543,4544,4545,4546,4547,4548,4549,4550,4551,4552,4553,4554,4555,4556,4557,4558,4559,4560,4561,4562,4563,4564,4565,4566,4567,4568,4569,4570,4571,4572,4573,4574,4575,4576,4577,4578,4579,4580,4581,4582,4583,4584,4585,4586,4587,4588,4589,4590,4591,4592,4593,4594,4595,4596,4597,4598,4599,4600,4601,4602,4603,4604,4605,4606,4607,4608,4609,4610,4611,4612,4613,4614,4615,4616,4617,4618,4619,4620,4621,4622,4623,4624,4625,4626,4627,4628,4629,4630,4631,4632,4633,4634,4635,4636,4637,4638,4639,4640,4641,4642,4643,4644,4645,4646,4647,4648,4649,4650,4651,4652,4653,4654,4655,4656,4657,4658,4659,4660,4661,4662,4663,4664,4665,4666,4667,4668,4669,4670,4671,4672,4673,4674,4675,4676,4677,4678,4679,4680,4681,4682,4683,4684,4685,4686,4687,4688,4689,4690,4691,4692,4693,4694,4695,4696,4697,4698,4699,4700,4701,4702,4703,4704,4705,4706,4707,4708,4709,4710,4711,4712,4713,4714,4715,4716,4717,4718,4719,4720,4721,4722,4723,4724,4725,4726,4727,4728,4729,4730,4731,4732,4733,4734,4735,4736,4737,4738,4739,4740,4741,4742,4743,4744,4773,4774,4775,4776,4777,4778,4779,4780,4781,4782,4783,4784,4785,4786,4787,4788,4789,4790,4791,4792,4793,4794,4795,4796,4797,4798,4799,4800,4801,4802,4803,4804,4805,4806,4807,4808,4809,4810,4811,4812,4813,4814,4815,4816,4817,4818,4819,4820,4821,4822,4823,4824,4825,4826,4827,4828,4829,4830,4831,4832,4833,4834,4835,4836,4837,4838,4839,4840,4841,4842,4843,4844,4845,4846,4847,4848,4849,4850,4851,4852,4853,4854,4855,4856,4857,4858,4859,4860,4861,4862,4863,4864,4865,4866,4867,4868,4869,4870,4871,4872,4873,4874,4875,4876,4877,4878,4879,4880,4881,4882,4883,4884,4885,4887,4889,4891,4893,4895,4897,4901,4903,4905,4907,4909,4911,4913,4915,4917,4919,4921,4923,4925,4927,4929,4931,4933,4935,4937,4941,4943,4945,4947,4951,4953,4955,4957,4961,4963,4965,4967,4969,4971,4973,4975,4977,4979,4981,4983,4985,4987,4989,4991,4993,4995,4997,4999,5001,5003,5005,5007,5009,5011,5013,5015,5017,5019,5021,5023,5025,5027,5029,5031,5033,5035,5037,5039,5041,5043,5045,5047,5049,5051,5053,5055,5057,5059,5061,5063,5065,5067,5069,5071,5073,5075) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
df2=df2.merge(imaging,left_on='eid',right_on='idx')

In [7]:
df2

,eid,36-0.0,36-1.0,36-2.0,36-3.0,37-0.0,37-1.0,37-2.0,37-3.0,84-0.0,...,131417-0.0,131418-0.0,131419-0.0,131420-0.0,131421-0.0,131422-0.0,131423-0.0,Unnamed: 0,idx,pheno
0,1000158,156.0,NaN,1041.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1000158,0.512526
1,1000243,3155.0,NaN,3782.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1000243,0.582123
2,1000262,1055.0,NaN,3159.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1000262,0.642401
3,1000369,1051.0,NaN,2818.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1000369,0.598390
4,1000489,3159.0,NaN,2818.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,1000489,0.535714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39009,6024127,1050.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45506,6024127,0.584615
39010,6024225,1059.0,NaN,162.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45507,6024225,0.642857
39011,6024290,3161.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45508,6024290,0.532787
39012,6024624,2817.0,NaN,2818.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45510,6024624,0.504608
39013,6024797,3780.0,1046.0,162.0,NaN,NaN,NaN,NaN,NaN,NaN,...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,45512,6024797,0.573333

In [8]:
df2.to_csv("I:/UKB_DATA/main_df/si_ukb47615.csv")

In [2]:
import pandas as pd

In [4]:
df2=_

In [9]:
df2

,Unnamed: 0_x,eid,36-0.0,36-1.0,36-2.0,36-3.0,37-0.0,37-1.0,37-2.0,37-3.0,...,131417-0.0,131418-0.0,131419-0.0,131420-0.0,131421-0.0,131422-0.0,131423-0.0,Unnamed: 0_y,idx,pheno
0,14,1000158,156.0,NaN,1041.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1000158,0.512526
1,23,1000243,3155.0,NaN,3782.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1000243,0.582123
2,25,1000262,1055.0,NaN,3159.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1000262,0.642401
3,35,1000369,1051.0,NaN,2818.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1000369,0.598390
4,47,1000489,3159.0,NaN,2818.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,1000489,0.535714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16854,216496,3165148,3782.0,NaN,3160.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19653,3165148,0.573913
16855,216497,3165154,3781.0,NaN,2818.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19654,3165154,0.603155
16856,216521,3165399,3781.0,NaN,2818.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19655,3165399,0.536364
16857,216538,3165560,1039.0,NaN,156.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19659,3165560,0.544837
16858,216548,3165666,160.0,NaN,162.0,NaN,4354.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19660,3165666,0.559480

In [1]:
import pandas as pd

In [2]:
pd.read_csv("I:/UKB_DATA/results/si_final/exported_results.tsv",sep='\t')

,locus,alleles,n,sum_x,y_transpose_x,beta,standard_error,t_stat,p_value,v,chr,rsid,pos,ref,alt,maf,info
0,6:63979,"[""C"",""T""]",22590,4310.00,2507.70,-0.000436,0.000983,-0.44412,0.656960,6:63979_C_T,6.0,rs561313667,63979.0,C,T,0.101430,0.76400
1,6:63980,"[""A"",""G""]",22590,4310.00,2507.70,-0.000436,0.000983,-0.44412,0.656960,6:63980_A_G,6.0,rs530120680,63980.0,A,G,0.101840,0.76270
2,6:100116,"[""C"",""A""]",22590,418.04,243.45,-0.000403,0.003017,-0.13353,0.893770,6:100116_C_A,6.0,rs181241136,100116.0,C,A,0.032272,0.34479
3,6:117168,"[""T"",""TAG""]",22590,1354.40,792.58,0.003134,0.001686,1.85940,0.062980,6:117168_T_TAG,6.0,rs200023821,117168.0,T,TAG,0.060386,0.61946
4,6:143500,"[""C"",""T""]",22590,566.03,328.89,-0.001324,0.002600,-0.50921,0.610610,6:143500_C_T,6.0,rs375376040,143500.0,C,T,0.022888,0.61015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668323,6:171048795,"[""C"",""A""]",22590,1074.30,622.02,-0.003598,0.001902,-1.89170,0.058547,6:171048795_C_A,6.0,rs113271230,171048795.0,C,A,0.046404,0.47598
668324,6:171050446,"[""T"",""C""]",22590,209.00,122.42,0.003498,0.004267,0.81976,0.412360,6:171050446_T_C,6.0,rs541001000,171050446.0,T,C,0.010036,0.42615
668325,6:171050699,"[""A"",""T""]",22590,251.04,148.01,0.006535,0.003898,1.67650,0.093655,6:171050699_A_T,6.0,rs543966868,171050699.0,A,T,0.015628,0.39569
668326,6:171051275,"[""A"",""C""]",22590,294.04,170.02,-0.003467,0.003581,-0.96817,0.332970,6:171051275_A_C,6.0,rs200543683,171051275.0,A,C,0.015351,0.47033
668327,6:171053406,"[""C"",""A""]",22590,1323.60,773.63,0.002313,0.001708,1.35450,0.175610,6:171053406_C_A,6.0,rs543306648,171053406.0,C,A,0.057212,0.42797

In [14]:
import hail as hl

In [16]:
hl.Table.from_pandas(df)

Initializing Hail with default parameters...
Running on Apache Spark version 3.1.2
SparkUI available at http://DESKTOP-TVGJHK2.mshome.net:4040
Welcome to
     __  __     <>__
    / /_/ /__  __/ /
   / __  / _ `/ / /
  /_/ /_/\_,_/_/_/   version 0.2.78-b17627756568
LOGGING: writing to D:\UKB\hail-20220323-0046-0.2.78-b17627756568.log

TypeError: field rsid: Can not merge type <class 'pyspark.sql.types.StringType'> and <class 'pyspark.sql.types.DoubleType'>